.list-item {
    display: flex;
    margin-top: 3%;
}

.num-container {
    flex-basis: 28%;
    text-align: right;
    margin-right: 1%;
    font-size: 2.25rem;
    color: rgba(255, 248, 154, 0.6);
}

.txt-container {
    margin-top: 2%;
    color: rgba(255, 248, 154, 0.6);
    font-size: 1.75rem;
    flex-basis: 70%;
    text-align: left;
    margin-left: 1%;
}

.highlight-num {
    color: #fff89a;
    font-size: 3rem;
}

.highlight-txt {
    color: #ffc900;
    font-size: 2.25rem;
}

@media screen and (max-width: 1136px) {
    .highlight-num {
        font-size: 3rem;
    }

    .highlight-txt {
        font-size: 2rem;
    }

    .num-container {
        font-size: 2rem;
    }

    .txt-container {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 980px) {
    .highlight-num {
        font-size: 2.5rem;
    }

    .highlight-txt {
        font-size: 1.5rem;
    }

    .num-container {
        font-size: 1.5rem;
    }

    .txt-container {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .highlight-num {
        font-size: 2rem;
    }

    .highlight-txt {
        font-size: 1.5rem;
    }

    .num-container {
        font-size: 1rem;
    }

    .txt-container {
        font-size: 1rem;
    }
}